.main {
    max-width: 1620px;
    margin: auto;
}
.main__blocks {
    display: flex;
    flex-direction: column;
}
.main__block {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
.main__block-image {
    width: 800px;
    height: 800px;
    color: white;
    transition: 1s;
    box-shadow: 12px 12px 2px 1px rgba(80, 106, 128, .2);
    border-radius: 50px;
}
.main__block-image:hover{
    transform: scale(1.05);
    box-shadow: 15px 15px 6px 3px rgba(80, 106, 128, .2);
}
.main__block-heading {
    max-width: 724px;
    margin-left: 40px;
}
.main__heading {
    margin-top: 20px;
    margin-left: 40px;
    font-size: 64px;
    font-weight: 500;
}
.main__text {
    max-width: 724px;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 24px;
    line-height: 40px;
}
.main__link-wrapper {
    margin-top: 40px;
}
.main__nav-link {
    margin-left: 40px;
    text-decoration: none;
    padding: 10px 34px;
    color: #506A80;
    font-size: 14px;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #A1D5FF;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}
.main__nav-link:hover {
    background-color: #506A80;
    color: #A1D5FF;
}
.auth__text-bold:hover, .reg__text-bold:hover {
    cursor: pointer;
    color: black;
}
