.reg__wrapper, .auth__wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 10%;
    left: 30%;
    background-color: #EDF7FF;
    padding: 50px 100px;
    border-radius: 50px;
    z-index: 2;
}
.reg__form, .auth__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}
.reg__form-label, .auth__form-label {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    width: 526px;
    margin-bottom: 30px;
}
.reg__form-input, .auth__form-input {
    margin-top: 10px;
    padding: 22px 20px;
    font-size: 24px;
    font-weight: 400;
    color: #506A80;
    font-family: 'Montserrat Alternates';
    border: 1px solid #A1D5FF;
    border-radius: 5px;
}
.reg__heading, .auth__heading {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 50px;
}
.reg__sub-btn, .auth__sub-btn {
    border-radius: 5px;
    background: #506A80;
    color: white;
    font-family: 'Montserrat Alternates';
    font-size: 24px;
    font-weight: 400;
    padding: 22px 120px;
    border: none;
    margin-bottom: 10px;
}
.reg__text, .auth__text {
    font-size: 24px;
}
.reg__text-bold, .auth__text-bold {
    font-weight: 500;
}