.pre-main {
    margin-top: 200px;
    z-index: 1;
}
.main__tasks-wrapper {
    display: flex;
    justify-content: space-between;
    width: 1620px;
    margin: auto;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.main__task-progress, .main__task-done {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
}
.main__task-heading {
    font-size: 24px;
    font-weight: 500;
    padding: 40px 0;

}
.main__task-list {
    width: 800px;
}
.main__task-item {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 15px 40px;
    background-color: #EDF7FF;
}
.main__item-name {
    width: 150px;
    font-weight: 500;
}
.main__add-wrapper {
    text-align: center;
    margin-bottom: 40px;
}
.main__add-img, .main__check-img {
    background-repeat: no-repeat;
    width: 104px;
    height: 104px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    margin: auto;
    background-image: url(../imgs/add-task.png);
    
}
.main__add-img-text, .main__add-text {
    margin-top: 15px;
    font-size: 14px;
    color: #A1D5FF;
    margin-bottom: 40px;
}
main {
    text-align: center;
}
.main__heading {
    font-size: 64px;
    margin-bottom: 40px;
}
.modal__new-task, .modal__edit-task {
    display: none;
    position: absolute;
    top: 70%;
    left: 28%;
    flex-direction: column;
    text-align: center;
    width: 526px;
    background-color: #fff;
    padding: 0 157px;
    border-radius: 50px;
    z-index: 2;
}
.modal__new-task-item, .modal__item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.modal__new-heading {
    font-size: 32px;
    font-weight: 500;
    margin: 40px;
}
.modal__task-description-label, .modal__task-name-label {
    width: 100%;
}
.modal__task-input {
    font-size: 16px;
    font-family: 'Montserrat Alternates';
    color: #506A80;
    border-radius: 5px;
    border: 1px solid #A1D5FF;
    width: calc(526px - 40px);
}
.modal__task-description-label::before {
    content: '';
    position: relative;
    left: -50px;
    top: 30px;
    display: block;
    background-image: url(../imgs/description-icon-before.png);
    width: 25px;
    height: 17px;
}
.modal__task-input {
    padding: 10px 20px;
}
.modal__check-list {
    overflow-y: auto;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #A1D5FF;
    margin-top: 20px;
    margin-bottom: 40px;
}
.modal__check-heading {
    font-size: 24px;
    margin: 20px 0;
}
.modal__new-task-item {
    background-color: #EDF7FF;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.modal__item-text {
    margin-left: 30px;
}
.del-icon, .modal__item-checkbox{
    width: 28px;
    height: 28px;
    
}
.modal__del-btn {
    padding: 0;
    margin: 0;
    border: none;
    background-color: #EDF7FF;
}
.main__buttons {
    margin-bottom: 40px;
}
.button {
    padding: 10px 34px;
    font-size: 14px;
    font-family: "Montserrat Alternates";
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}
.main__btn-save {
    color: #506A80;
    background-color: #A1D5FF;
}
.main__btn-save:hover {
    color: #A1D5FF;
    background-color: #506A80;
}
.main__btn-del {
    color: white;
    background-color: #506A80;
    margin-left: 20px;
}
.main__btn-del:hover {
    color: #506A80;
    background-color: white;
    border: 1px solid #506A80;
}

.main__favorites-wrapper {
    max-width: 1620px;
    margin: auto;
    columns: 4;
    text-align: center;
    display: flex;
    gap: 20px;
}
.no-card {
    font-size: 32px;
    margin: auto;
}
.main__favorites-wrapper .main__card {
    /* width: 100%; */
    margin-bottom: 20px;
    break-inside: avoid;
}
.main__card, .main__card-img {
    max-width: 100%;
}
.main__card {
    float:left;
    transition:all 1s;
    width: 390px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;

}
.main__card-like {
    text-align: end;
}
.modal__item-name {
    outline: #506A80;
    border: none;
    color: #506A80;
    background-color: #EDF7FF;
    padding: 10px;
    font-size: 14px;
    font-family: 'Montserrat Alternates';

}
.main__item-progress {
    width: 230px;
    margin: auto;
}
